/** @format */
.home_container {
  width: 100%;
  height: 91.5vh;
  padding: 5px;
  overflow: scroll;
}
.action_menu_btn {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
  z-index: 10 !important;
  position: fixed !important;
  bottom: 7px !important;
  right: 7px !important;
}
.home_container::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.home_container {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.home_loading_section {
  width: 100%;
  height: 91.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_section_header {
  width: 100%;
  height: 5vh;
  padding: 5px;
  margin-bottom: 3px;
  position: relative;
}
.item_section_header_title {
  font-weight: 500;
  font-size: 0.985rem;
  padding-left: 7px;
  z-index: 1;
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 0px 5px;
  position: absolute;
  left: 20px;
}
.item_section_divider {
  border-bottom: 1.25px solid rgb(155, 155, 155);
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.item_content_section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.product_modal_body {
  width: 100%;
  height: 50vh;
  overflow: scroll;
  padding: 3px;
}
.product_modal_body::-webkit-scrollbar {
  display: none;
}
/* Hide the scrollbar for Internet Explorer, Edge and Firefox */
.product_modal_body {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal_footer_section {
  width: 100%;
  height: 7vh;
}
.modal_input {
  margin-bottom: 6px !important;
  width: 100%;
  height: 35px !important;
  font-weight: 400 !important;
  font-size: 0.85rem !important;
}
.modal_textarea {
  margin-bottom: 6px !important;
  width: 100%;
  height: 100px !important;
  font-weight: 400 !important;
  font-size: 0.85rem !important;
}
.modal_image_section {
  width: 100%;
  margin-bottom: 6px;
  height: 180px;
}
.image_upload_container {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file_input {
  display: none;
}
.input_label {
  border: 1px dottted rgb(148, 148, 148);
  padding: 12px;
  cursor: pointer;
  border: 1px solid rgb(150, 147, 147);
  border-radius: 50%;
}
.file_upload_icon {
  font-size: 2.5rem;
}
.modal_image_container {
  width: 100%;
  height: 180px;
  border-radius: 5px;
  position: relative;
}
.modal_image {
  width: 100%;
  height: 180px;
  border-radius: 5px;
}
.close_image_btn {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  background-color: black !important;
  color: aliceblue !important;
}
.modal_radio_section {
  margin-bottom: 6px;
}
.modal_radio_title {
  font-weight: 500;
  font-size: 0.95rem;
  margin-bottom: 4px;
}
.box_modal_radio_input_section {
  display: flex;
  align-items: center;
}
.radio_onput {
  display: flex;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
}
.radio_input_title {
  margin-left: 3px;
  font-weight: 500;
  font-size: 0.85rem;
}
.create_product_btn,
.disable_create_product_btn {
  width: 100% !important;
  height: 36px !important;
  background-color: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
  font-weight: 500 !important;
  font-size: 0.825rem !important;
}
.disable_create_product_btn {
  cursor: no-drop !important;
  background-color: var(--disable-primary-color) !important;
}
