/** @format */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
:root {
  --primary-color: rgba(34, 47, 62, 1);
  --disable-primary-color: rgba(87, 101, 116, 1);
  --primary-text-color: rgba(200, 214, 229, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.layout_container {
  width: 100%;
  height: 100%;
}
.layout_header_container {
  width: 100%;
  height: 8vh;
}
.layout_app_container {
  width: 100%;
  height: 91.9vh;
}
