/** @format */

.review_card {
  background-color: rgba(241, 242, 246, 0.6);
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 4px;
}
.review_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review_user_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.review_avatar {
  width: 30px !important;
  height: 30px !important;
  margin-right: 5px;
}
.review_user_name {
  font-weight: 500;
  font-size: 0.9rem;
}
.time {
  margin-left: 5px;
  font-weight: 400;
  font-size: 0.7rem;
  color: rgb(135, 135, 135);
}
.review_menu_btn {
  background-color: transparent !important;
}
.review_menu_item {
  font-weight: 500 !important;
  font-size: 0.825rem !important;
}
.delete_menu_item {
  color: crimson !important;
}
.review_card_body {
  margin: 2px 0;
  font-weight: 500;
  font-size: 0.85rem;
}
